---
import Link from '@/components/Link.astro'
import PostLayout from '@/layouts/PostLayout.astro'
import { getAdjacentPosts, sortByDate } from '@/lib/collections'
import { parseAuthors } from '@/lib/authors'
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = sortByDate(
    (await getCollection('blog')).filter((post) => !post.data.draft),
  )
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }))
}
type Props = CollectionEntry<'blog'>

const posts = sortByDate(
  (await getCollection('blog')).filter((post) => !post.data.draft),
)
const post = Astro.props
const { prev, next } = getAdjacentPosts(posts, post.slug)
const { Content, headings } = await post.render()
const authors = await parseAuthors(post.data.authors ?? [])
---

<PostLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  parent={{ href: '/blog', label: 'Blog' }}
  baseUrl="/blog/"
  date={post.data.date}
  body={post.body}
  tags={post.data.tags ?? []}
  headings={headings}
  prevPost={prev}
  nextPost={next}
>
  {
    authors.length > 0 && (
      <div slot="author" class="flex items-center gap-x-2">
        {authors.map((author) => (
          <div class="flex items-center gap-x-1.5">
            <Image
              src={author.avatar}
              alt={author.name}
              width={24}
              height={24}
              class="rounded-full"
            />
            {author.isRegistered ? (
              <Link
                href={`/authors/${author.slug}`}
                underline
                class="text-foreground"
              >
                <span>{author.name}</span>
              </Link>
            ) : (
              <span>{author.name}</span>
            )}
          </div>
        ))}
      </div>
    )
  }
  <Content />
</PostLayout>
