---
import Link from '@/components/Link.astro'
import PostLayout from '@/layouts/PostLayout.astro'
import { Badge } from '@/components/ui/badge'
import { Button } from '@/components/ui/button'
import { Separator } from '@/components/ui/separator'
import { getAdjacentPosts, sortByDate } from '@/lib/collections'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = sortByDate(await getCollection('books'))
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }))
}
type Props = CollectionEntry<'books'>

const posts = sortByDate(await getCollection('books'))
const post = Astro.props
const { prev, next } = getAdjacentPosts(posts, post.slug)
const { Content, headings } = await post.render()
---

<PostLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
  parent={{ href: '/books', label: 'Books' }}
  baseUrl="/books/"
  date={post.data.date}
  body={post.body}
  tags={post.data.tags ?? []}
  headings={headings}
  prevPost={prev}
  nextPost={next}
>
  <div slot="author" class="flex items-center gap-x-1.5">
    <Image
      src={post.data.author.avatar}
      alt={post.data.author.name}
      width={24}
      height={24}
      class="rounded-full"
    />
    <Link
      href={`/authors/${post.data.author.name}`}
      underline
      class="text-foreground"
    >
      <span>{post.data.author.name}</span>
    </Link>
  </div>

  <div slot="actions" class="flex flex-row items-center justify-center gap-12">
    <Button variant="secondary" size="sm">
      <Icon name="lucide:download" class="mr-2 size-4 -translate-x-0.5" />
      Download
    </Button>
    <div class="flex flex-row items-center justify-center gap-3">
      <Badge variant="outline" showHash={false}>{post.data.lang}</Badge>
      <Separator orientation="vertical" className="h-4" />
      <Badge variant="outline" showHash={false}>{post.data.pages} page</Badge>
    </div>
  </div>

  <Content />
</PostLayout>
