---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import PaginationComponent from '@/components/ui/pagination'
import Layout from '@/layouts/Layout.astro'
import type { CollectionEntry } from 'astro:content'

type ListCollection = 'blog' | 'books' | 'news' | 'me'
type ListEntry = CollectionEntry<ListCollection>

interface Props {
  title: string
  label: string
  baseUrl: string
  currentPage: number
  lastPage: number
  posts: ListEntry[]
  card: (props: { entry: ListEntry }) => unknown
}

const { title, label, baseUrl, currentPage, lastPage, posts, card: Card } =
  Astro.props

const postsByYear = posts.reduce(
  (acc: Record<string, ListEntry[]>, post) => {
    const year = post.data.date.getFullYear().toString()
    ;(acc[year] ??= []).push(post)
    return acc
  },
  {},
)

const years = Object.keys(postsByYear).sort((a, b) => parseInt(b) - parseInt(a))
---

<Layout title={title} description={title}>
  <Container class="flex grow flex-col gap-y-6">
    <Breadcrumbs
      items={[
        { label, href: baseUrl, icon: 'lucide:archive' },
        { label: `Page ${currentPage}`, icon: 'lucide:folder-open' },
      ]}
    />

    <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
      {
        years.map((year) => (
          <section class="flex flex-col gap-y-4">
            <div class="font-semibold">{year}</div>
            <ul class="not-prose flex flex-col gap-4">
              {postsByYear[year].map((post) => (
                <li>
                  <Card entry={post} />
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>

    <PaginationComponent
      currentPage={currentPage}
      totalPages={lastPage}
      baseUrl={baseUrl}
      client:load
    />
  </Container>
</Layout>
